/* GLOBALL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
  flex-direction: column;
  background-color: var(--site-color);
  color: #222;
  font-family: "Arial" sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER  */

*:focus {
  outline: 2px solid var(--button);
  outline-offset: 3px;
  border-radius: 3px;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* ROOT  */
:root {
  --button-color: #ff7500;
  --heading-color: #252020;
  --site-color: #fff;

}

/* SITE-HEADER  */
.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header {

  border-top: 5px solid var(--button-color);
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--site-color);
}

.logo-link img {
  display: block;
}

.logo-link {

  transition: opacity 0.4s ease;

}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.site-header-actions {
  display: flex;
  align-items: center;
}

.sitenav-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease, opacity 0.4s ease;
}

.sitenav-link:hover {
  color: var(--button-color);
}

.sitenav-link:active {
  opacity: 0.6;
}

.main-link {
  border-radius: 4px;
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  background-color: var(--button-color);
  color: var(--site-color);
  text-decoration: none;
  transition: opacity 0.5s ease;
  padding: 12px 24px;

}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}

.hero {
  background: var(--heading-color);
  padding: 80px 0;
  color: var(--site-color);
  display: flex;

}

.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  width: 390px;
}

.orange-line {
  width: 80px;
  height: 3px;
  border: none;
  background-color: var(--button-color);
  margin: 0;
  margin-bottom: 40px;
}

.hero-img {
  position: absolute;
  top: -40px;
  right: 20px;
  width: 510px;
  height: 510px;
  border-radius: 8px;
  /* box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6); */
}

.hero-heading {
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  margin: 0;
  margin-bottom: 24px;

}

.hero-text {
  margin-top: 0;
  margin-bottom: 32px;
}

.features-heading {
  margin-top: 0;
  margin-bottom: 72px;
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial" sans-serif;
  letter-spacing: 0.5px;
}

.features {
  padding: 210px 0;
}

.feature {
  width: 340px;
  margin-right: 40px;
  list-style: none;
}

.feature:last-child {
  margin-right: 0;
}

.features-list {
  margin: 0;
  display: flex;
  padding: 0;
}

.feature-info {
  margin: 0;
}

.feature-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial" sans-serif;
}

.promo {
  padding-top: 120px;
  padding-bottom: 160px;
}

.promo-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  border-radius: 12px;
  background-color: var(--heading-color);
  color: var(--site-color);
}

.promo-content {
  width: 440px;
}

.promo-heading {
  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto Condensed", "Roboto", "Arial" sans-serif;
  margin-top: 0;
  margin-bottom: 24px;
}

.promo-highlight {
  color: var(--button-color);
}

.promo-info-wrapper {
  margin-bottom: 24px;
}

.promo-text {
  margin-top: 0;
  margin-bottom: 12px;
}

.promo-text:last-child {
  margin-bottom: 0;
}

.promo-img {
  position: absolute;
  right: 64px;
  bottom: 64px;
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 10px;
  overflow: scroll;
}

.site-footer{
  background-color: #f8f8f8;
  padding: 56px 0;
}

.site-footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer__logo-link{
  margin-right: 36px;
}

.site-footer__divider {
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
  border: 0;
  margin: 40px 0 64px;
}

.socials__item {
  list-style: none;
}

.socials__item .socials__link {
  text-decoration: none;
  color: var(--heading-color);
}

.sitenav-list {
  display: flex;
}

.sitenav-list .socials__item {
  display: flex;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 32px;
}

.sitenav-item {
  margin-right: 32px;
}

.site-footer__list {
  border: 0;
  list-style: none;

}

.site-footer__link-list {
  width: 224px;
  line-height: 19px;
  padding: 0;
  list-style: none;
  margin: 0;
  margin-right: 68px;
}

.site-footer__link-list:last-child {
  margin-right: 0;
}

.site-footer__link-list .socials__link {
  text-decoration: none;
  color: var(--heading-color);
  transition: color 0.4s ease, active 0.4s ease;
}

.site-footer__link-list .socials__link:hover {
  color: var(--button-color);
}

.site-footer__link-list .socials__link:active {
  opacity: 0.6;
}

.site-footer__link-list .socials__item {
  margin-bottom: 16px;
}

.site-footer__link-list .socials__item:last-child {
  margin-bottom: 0;
}

.site-footer__item {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.site-footer__item .socials__item {
  margin-right: 16px;
}

.site-footer__socials .socials__item:last-child {
  margin-right: 0;
}

.site-footer__socials svg {
  display: block;
}

.site-footer__socials .socials__link {
  color: var(--heading-color);
  display: block;
  transition: color 0.3s ease, hover 0.3s ease, active 0.3s ease;
}

.site-footer__socials .socials__link:hover {
  color: var(--button-color);
}

.site-footer__socials .socials__link:active {
  opacity: 0.6;
}


.site-footer__bottom {
  display: flex;
}


@media only screen and  (max-width: 1140px){
  .feature{
    width: 30%;
    margin-right: 5%;
  }
  .site-footer__link-list{
    width: 20.36%;
    margin-right: 6.18%;
  }
}
/* FEATURES */
@media only screen and  (max-width: 1000px){
.features{
  padding-top: 150px;
  padding-bottom: 150px;
}
}
@media only screen and  (max-width: 760px){
  .features{
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .features-heading{
    margin-bottom: 54px;
    font-size: 54px;
  }
  .site-footer__bottom{
    flex-wrap: wrap;
  }
  .site-footer__link-list{
    width: 30%;
    margin-right: 5%;
    margin-bottom: 36px;
  }
  .site-footer__link-list:last-child{
    margin-right: 5%;
  }
  .site-footer__link-list:nth-child(3){
    margin-right: 0;
  }
}
@media only screen and  (max-width: 650px){
  .features-list{
    flex-wrap: wrap;
  }
  .feature{
    width: 47%;
    margin-bottom: 60px;
    margin-right: 6%;
  }
  .features-heading{
    font-size: 50px;
  }
  .feature:nth-child(2n){
    margin-right: 0;
  }
  .feature-icon-wrapper{
    margin-bottom: 16px;
  }
}
@media only screen and  (max-width: 600px){
  .site-footer__link-list{
    width: 46%;
    margin-right: 8%;
  }
  .site-footer__link-list:nth-child(3){
    margin-right: 8%;
  }
  .site-footer__link-list:nth-child(even){
    margin-right: 0;
  }
}
@media only screen and  (max-width: 530px){
  .orange-line{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .features-heading{
    width: 100%;
    text-align: center;
    font-size: 50px;
  }
  .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 46px;
    text-align: center;
    width: 100%;
    margin-right: 0;
  }
  .site-footer{
    width: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .site-footer__top{
    flex-direction: column;
  }
  .site-footer__logo-link{
    margin-right: 0;
    margin-bottom: 24px;
  }
}
@media only screen and  (max-width: 400px){
  .features{
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .features-heading{
    font-size: 36px;
  }
  .site-footer{
    width: 100%;
  }
  .site-footer__link-list{
    width: 100%;
    margin-right: 0%;
  }
  .site-footer__link-list:last-child{
    margin-bottom: 0;
  }
  .site-footer__link-list:nth-child(3){
    margin-right: 0;
  }
  .site-footer__link-list:nth-child(even){
    margin-right: 0;
  }
}
